.hero
  .hero__overlay
    .container
      .row
        .hero__content
          .hero__title
            h3.hero__subtitle Icons inspired by the world of
            h1 Mobile Suit Gundam
          .hero__download
            a.btn.btn--outline.btn--lg(download href="images/icons/zakucons.zip") Download