.hero
  .hero__overlay
    .container
      .row
        .hero__content
          .hero__title(data-aos="fade-up")
            h3.hero__subtitle Icons inspired by the world of
            h1 Mobile Suit Gundam
          .hero__download(data-aos="fade-up")
            a.btn.btn--outline.btn--lg(download href="images/icons/zakucons.zip") Download
            a.btn.btn--black.btn--lg(href="#search") See the icons