.info
  .container
    .row
      .info__content
        img.info__hero(src="images/progress.png" width="200" height="auto")
        h4 Coming Soon
        p Currently, the icons are only available as plain SVG's, but soon a small javascript library will be available for simpler implementation and customization.