.container
  .row
    .intro(data-aos="fade-up")
      h4 About
      p For those not familiar, 
        a(href="https://en.wikipedia.org/wiki/Gundam" target="_blank") Gundam
        | &nbsp;is a science fiction media franchise focused on giant robots, space exploration, intricate realism, and a militaristic setting. Taking place years after a portion of mankind makes the move into space after depleting Earth's resources and space, factions begin a war trying for dominance to either control all of mankind under a single goverment, or separate themselves from it's control. As the grim picture of war becomes clearer, one may find it difficult to see which side is truly good or bad.