.nav(data-aos="fade-down")
  .container
    .row
      .nav__content
        .nav__left
          a(href="http://grapalab.com")
            svg(class="logo__icon" id="grapalab_icon" data-name="Grapa_lab_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48")
              path(d="M0,0V48H48V0ZM29.27,38.61a27.35,27.35,0,0,1-4.61.39C15.56,39,9,33,9,24,9,14.84,15.76,9,24.45,9c4.47,0,8.61,1.49,11,3.78l-4.35,4.95a8.45,8.45,0,0,0-6.4-2.66c-4.83,0-8.37,3.78-8.37,8.89s3.1,9,8.69,9a11,11,0,0,0,4.25-.74Zm6.37-6.47H29.32V27H23.89V21.44H35.64Z")
        .nav__center
          a.nav__logo(href="index.html")
            include _logo
        .nav__right
          ul.nav__links
            li.nav__item
              a(href="#search") Icons
            li.nav__item
              a(href="https://github.com/ryan-parag/zakucons") GitHub
            li.nav__item
              span.badge.badge--default v2.0.1