extends layouts/_base

block content
  .alert#alert
    .container
      .row
        | Javascript library coming soon!
        .alert__close#myThing
          img(src="images/icons/zakucon-close.svg")
  include partials/_nav
  include partials/_hero
  include partials/_intro
  include partials/_search
  include partials/_icons
  include partials/_info
  include partials/_footer